.kd-text-replacements {
    img {
        width: 100%;
    }
    max-width: 1024px;
    margin: 2rem auto;
}

.kd-action-destructive {
    background-color: red !important;
    color: #fff !important;
}

